<h1><%= @restaurant.name %></h1>

<p>Address: <%= @restaurant.address %></p>


<%= link_to "Delete this restaurant", restaurant_path(@restaurant),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

<%= link_to "Edit restaurant", edit_restaurant_path(@restaurant)  %>


<%= link_to "Back to restaurants", restaurants_path %>
